In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
from sklearn.model_selection import cross_val_score
from sklearn.preprocessing import KBinsDiscretizer
from sklearn.compose import ColumnTransformer

In [4]:
df = pd.read_csv('train.csv', usecols=['Age', 'Fare', 'Survived'])

In [6]:
df.dropna(inplace=True)

In [7]:
df.shape

(714, 3)

In [8]:
df.head()

   Survived   Age     Fare
0         0  22.0   7.2500
1         1  38.0  71.2833
2         1  26.0   7.9250
3         1  35.0  53.1000
4         0  35.0   8.0500

In [9]:
x = df.drop("Survived",axis=1)
y = df["Survived"]

In [10]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)

In [11]:
clf = DecisionTreeClassifier()

In [12]:
clf.fit(x_train, y_train)
y_preds = clf.predict(x_test)

In [13]:
accuracy_score(y_test, y_preds)

0.6223776223776224

### Using Binning

In [15]:
kbin_age = KBinsDiscretizer(n_bins=15, encode='ordinal', strategy='quantile')
kbin_fare = KBinsDiscretizer(n_bins=15, encode='ordinal', strategy='quantile')

In [16]:
trf = ColumnTransformer([
    ('first', kbin_age, [0]),
    ('second', kbin_fare, [1])
])

In [21]:
x_train_trf = trf.fit_transform(x_train)
x_test_trf = trf.transform(x_test)

array([[ 8.,  8.],
       [ 6.,  7.],
       [ 8.,  7.],
       ...,
       [11., 14.],
       [ 9.,  8.],
       [ 9.,  3.]])

In [26]:
trf.named_transformers_['first'].bin_edges_[0]

array([ 0.42,  6.  , 16.  , 19.  , 21.  , 23.  , 25.  , 28.  , 30.  ,
       32.  , 35.  , 38.  , 42.  , 47.  , 54.  , 80.  ])

In [22]:
output = pd.DataFrame({
    'age' : x_train['Age'],
    'age_trf' : x_train_trf[:, 0],
    'fare' : x_train['Fare'],
    'fare_trf' : x_train_trf[:, 1]
})

In [24]:
# Adding bins to our dataframe
output['age_labels'] = pd.cut(x=x_train['Age'], bins=trf.named_transformers_['first'].bin_edges_[0].tolist())
output['fare_labels'] = pd.cut(x=x_train['Fare'], bins=trf.named_transformers_['second'].bin_edges_[0].tolist())

In [27]:
output.head()

      age  age_trf     fare  fare_trf    age_labels      fare_labels
328  31.0      8.0  20.5250       8.0  (30.0, 32.0]    (18.75, 26.0]
73   26.0      6.0  14.4542       7.0  (25.0, 28.0]   (13.0, 14.454]
253  30.0      8.0  16.1000       7.0  (28.0, 30.0]  (14.454, 18.75]
719  33.0      9.0   7.7750       2.0  (32.0, 35.0]    (7.25, 7.775]
666  25.0      6.0  13.0000       6.0  (23.0, 25.0]     (10.5, 13.0]

In [28]:
clf = DecisionTreeClassifier()
clf.fit(x_train, y_train)
y_preds_new = clf.predict(x_test_trf)

/home/user/TUTORIALS/ML-course/ml-env/lib/python3.11/site-packages/sklearn/base.py:493: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

In [29]:
accuracy_score(y_test, y_preds_new)

0.6293706293706294